site_name: "GHC's Runtime System as an OpenMP Runtime"
site_url: https://jhhuh.github.io/ghc-openmp/
repo_url: https://github.com/jhhuh/ghc-openmp
repo_name: jhhuh/ghc-openmp

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.top
    - toc.integrate

markdown_extensions:
  - tables
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - toc:
      permalink: true

docs_dir: docs

exclude_docs: |
  gen_charts.hs
